.transactionBackdrop {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  backdrop-filter: blur(10px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.transactionContainer {
  width: 1179px;
  height: 560px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  position: absolute;
  z-index: 30;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.transactionBack {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  align-self: self-start;
}

.transactionBack img {
  width: 44px;
  height: 46px;
  cursor: pointer;
}

.transactionBack p {
  text-decoration: underline;
  color: #e9af00;
}

.transactionHeader {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

.transactionHeader h1 {
  font-weight: 500;
  font-size: 30px;
  gap: 10px;
}

.blackButton {
  all: unset;
  border: 1px solid #000000;
  color: #e9af00;
  background-color: #000000;
  width: 151px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: 600;
  gap: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 16px;
}

.yellowButton {
  all: unset;
  border: 1px solid #ffc000;
  color: #000000;
  background-color: #ffc000;
  width: 151px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: 600;
  gap: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 16px;
}

.calendar {
  width: 20px;
  height: 20px;
}

.searchGroup {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 14px;
  margin-left: 8px;
}

.searchIcon img {
  width: 20px;
  height: 20px;
}

.searchBar {
  width: 327px;
  height: 48px;
  padding-left: 30px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
}

.recordTables {
  width: 88%;
  height: 90%;
  margin-top: 10px;
  overflow-y: scroll;
}

.recordTables p {
  color: #767474;
  font-weight: 500;
  font-size: 16px;
  margin-top: 6px;
}
