.changePinBackdrop {
  width: 100vw;
  height: 100vh;
  z-index: 90;
  backdrop-filter: blur(10px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.changePinContainer {
  width: 30%;
  height: 67%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changePinExitNav {
  display: flex;
  flex-direction: row;
  height: 46px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 20px;
}

.changePinBack {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.changePinBack img {
  width: 44px;
  height: 46px;
  cursor: pointer;
}

.changePinExitNav img {
  cursor: pointer;
}

.changePinBack p {
  text-decoration: underline;
  color: #e9af00;
}

.changePinContent {
  width: 344px;
  height: 357px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

.changePinContent h1 {
  color: #e9af00;
  font-weight: 500;
  font-size: 26px;
  font-weight: 600;
}

.changePinContent p {
  color: #131313;
  font-size: 14px;
  align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.changePinCode {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.changePinCode input {
  all: unset;
  border: 1px solid #e8e8e8;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.changePinCode input:focus {
  border-color: #ffc000;
}

.changeConfirmButton {
  all: unset;
  cursor: pointer;
  margin-top: 10px;
  width: 135px;
  height: 42px;
  border-radius: 9px;
  border: 1px solid #ffc000;
  text-align: center;
  background-color: #ffc000;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .changePinContainer {
    width: 30%;
    height: 60%;
  }
  .changePinContent {
    gap: 20px;
    margin-top: 0;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .changePinContainer {
    width: 52%;
    height: 440px;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .changePinContainer {
    width: 92%;
    height: 52%;
  }
}
