.otpBackdrop {
  width: 100vw;
  height: 100vh;
  z-index: 70;
  backdrop-filter: blur(10px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.otpContainer {
  width: 560px;
  height: 490px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  position: absolute;
  z-index: 80;
  background-color: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otpExitNav {
  display: flex;
  flex-direction: row;
  height: 46px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 20px;
}

.otpBack {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.otpBack img {
  width: 44px;
  height: 46px;
  cursor: pointer;
}

.otpExitNav img {
  cursor: pointer;
}

.otpBack p {
  text-decoration: underline;
  color: #e9af00;
}

.modalContent {
  width: 344px;
  height: 357px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modalContent img {
  width: 138px;
  height: 67;
}

.modalContent h1 {
  color: #e9af00;
  font-weight: 500;
  font-size: 22px;
}

.modalContent p {
  color: #131313;
  font-size: 12px;
  align-self: self-start;
  margin-left: 32px;
}

.modalContent p:nth-child(5) {
  color: #484646;
  font-size: 12px;
  align-self: self-start;
  margin-left: 32px;
  text-decoration: underline;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otpCode {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.otpCode input {
  all: unset;
  border: 1px solid #e8e8e8;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.otpCode input:focus {
  border-color: #ffc000;
}

.confirmButton {
  all: unset;
  cursor: pointer;
  margin-top: 10px;
  width: 135px;
  height: 42px;
  border-radius: 9px;
  border: 1px solid #ffc000;
  text-align: center;
  background-color: #ffc000;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.successContainer {
  width: 480px;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  position: absolute;
  z-index: 110;
  background-color: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.successBackdrop {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  backdrop-filter: blur(10px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.successContainer h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.successContainer img {
  width: 66px;
  height: 43px;
}

.successContainer img:nth-child(3) {
  width: 100px;
  height: 98px;
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .otpContainer {
    width: 34%;
    height: 65%;
  }
  .successContainer {
    width: 30%;
    height: 60%;
  }

  .successContainer h1 {
    font-size: 30px;
  }

  .successContainer img:nth-child(3) {
    width: 90px;
    height: 88px;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .otpContainer {
    width: 52%;
    height: 460px;
  }
  .successContainer {
    width: 55%;
    height: 440px;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .otpContainer {
    width: 92%;
    height: 56%;
  }
  .successContainer h1 {
    font-size: 28px;
  }
  .successContainer img:nth-child(3) {
    width: 80px;
    height: 78px;
  }
  .successContainer {
    width: 91%;
    height: 42%;
  }
}
