.refundContainer {
  background-color: #ffffff;
  width: 90%;
  height: 80vh;
  position: absolute;
  align-self: self-end;
  overflow: hidden;
  z-index: 10;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  padding: 26px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.refundContainer h1 {
  font-size: 30px;
  font-weight: 600;
  align-self: self-start;
}

.form {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: start;
  align-items: start;
}

form {
  width: 100%;
}

.technicalContainer p {
  font-size: 14px;
  font-weight: 500;
  color: #1a1818;
}
.firstCol,
.secCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.firstCol .shorter,
.secCol .shorter {
  width: 219px;
  height: 46px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}

.colWrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

.colWrapper p {
  color: #1a1818;
  font-size: 14px;
}

.firstCol .email {
  width: 343px;
  height: 46px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}

select {
  width: 343px;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}

.textarea {
  width: 809px;
  height: 140px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
  margin-top: 10px;
  padding-top: 14px;
  resize: none;
}

.extensionDiv .feedback {
  margin: 0;
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
}

.extensionDiv {
  display: flex;
  flex-direction: column;
}

.submitButton {
  all: unset;
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #ffc000;
  text-align: center;
  background-color: #ffc000;
  align-self: self-end;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.addWrapper {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.addWrapper p {
  text-align: center;
}

.fileType {
  all: unset;
  border: 1px solid #ffc000;
  display: flex;
  height: 10px;
  padding-top: 18px;
  padding-bottom: 26px;
  padding-left: 14px;
  width: 180px;
  border-radius: 19px;
  text-align: center;
  background-color: #d9d9d9;
  font-size: 12px;
}

.sendTicket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.sendTicket label {
  font-size: 14px;
  font-weight: 500;
}

/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .refundContainer {
    width: 92%;
    height: 78%;
    display: flex;
  }
  .colWrapper {
    width: 110%;
  }
  .textarea {
    width: 740px;
    margin-right: 40px;
    align-self: flex-start;
  }
  .submitButton {
    margin-right: 0px;
  }
  .addWrapper {
    height: 100px;
    margin: 0;
  }
  .sendTicket label {
    margin-right: 40px;
  }
  .extensionDiv .feedback {
    margin: 0;
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
  }
  .extensionDiv {
    display: flex;
    flex-direction: column;
  }
  .submitButton {
    align-self: self-end;
    margin-right: 20px;
  }
}

/* Laptops */

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .refundContainer {
    top: 58%;
    height: 79%;
  }

  .colWrapper {
    width: 110%;
  }
  .textarea {
    width: 740px;
    margin-right: 40px;
    align-self: flex-start;
  }
  .submitButton {
    margin-right: 0px;
  }
  .addWrapper {
    height: 100px;
    margin: 0;
  }
  .sendTicket label {
    margin-right: 40px;
  }
  .extensionDiv .feedback {
    margin: 0;
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
  }
  .extensionDiv {
    display: flex;
    flex-direction: column;
  }
  .submitButton {
    align-self: self-end;
    margin-right: 20px;
  }
}
/* Tablet */

@media only screen and (max-width: 768px) {
  .refundContainer {
    justify-content: start;
    overflow-y: scroll;
  }

  .refundContainer::-webkit-scrollbar {
    display: none;
  }

  .colWrapper {
    flex-direction: column;
    gap: 10px;
  }
  .firstCol,
  .secCol {
    gap: 10px;
  }
  .extensionDiv .feedback {
    margin: 0;
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
  }
  .textarea {
    width: 650px;
    height: 120px;
    margin: 0;
  }
  .extensionDiv {
    display: flex;
    flex-direction: column;
  }
  .submitButton {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .refundContainer {
    width: 100vw;
    height: 82.5%;
    align-items: start;
    justify-content: start;
    padding-left: 20px;
    overflow-y: scroll;
  }

  .colWrapper {
    width: 100%;
    height: 324px;
    display: flex;
    flex-direction: column;
  }

  .extensionDiv .feedback {
    margin: 0;
    font-size: 14px;
    color: #000000;
    margin-top: 2px;
  }
  .textarea {
    width: 350px;
    height: 90px;
    margin: 0;
  }

  .extensionDiv {
    display: flex;
    flex-direction: column;
  }
  .addWrapper p {
    text-align: left;
  }
  .addWrapper {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
    margin: 0;
    gap: 10px;
    padding-left: 4px;
  }
  .sendTicket {
    flex-direction: row;
    padding-left: 4px;
  }
  .submitButton {
    margin-top: 60px;
    margin-bottom: 0;
    margin-right: 0;
  }
}
