.workContainer {
  background-color: #ffffff;
  width: 90%;
  height: 80vh;
  position: absolute;
  align-self: self-end;
  overflow: hidden;
  z-index: 10;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  padding: 26px;
}
.workContainer h1 {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-left: 30px;
}

.forms {
  width: 80%;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.select {
  width: 343px;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}

.firstCol {
  width: 38%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 70px;
  gap: 8px;
}

.firstCol p {
  font-size: 14px;
  font-weight: 500;
  color: #1a1818;
}

.secondCol {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: start;
  gap: 8px;
}

.secondCol p {
  font-size: 14px;
  font-weight: 500;
  color: #1a1818;
}

.saveButton {
  all: unset;
  cursor: pointer;
  width: 110px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #ffc000;
  text-align: center;
  background-color: #ffc000;
  align-self: self-end;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 29px;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .workContainer {
    width: 97%;
    height: 79%;
    top: 60%;
  }
  .forms {
    width: 58vw;
    padding-right: 140px;
    padding-left: 90px;
  }
  .firstCol {
    padding-left: 40px;
  }
  .select {
    width: 290px;
    height: 48px;
  }

  .secondCol input,
  .firstCol input {
    width: 290px;
    height: 48px;
  }

  .secondCol {
    width: 50%;
    margin-left: 150px;
  }
  .saveButton {
    margin-right: 0;
  }
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .forms {
    width: 58vw;
    padding: 0;
    padding-right: 100px;
  }
  .firstCol {
    padding-left: 40px;
  }
  .select {
    width: 290px;
    height: 48px;
  }

  .secondCol input,
  .firstCol input {
    width: 290px;
    height: 48px;
  }

  .secondCol {
    width: 50%;
    margin-left: 150px;
  }
  .saveButton {
    margin-right: 0;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .forms {
    width: 84vw;
    padding: 0;
    padding-right: 0;
  }
  .workContainer h1 {
    margin: 0;
  }

  .firstCol {
    padding-left: 0;
  }

  .secondCol {
    width: 50%;
    margin-left: 100px;
  }

  .select {
    width: 290px;
    height: 48px;
  }

  .secondCol input,
  .firstCol input {
    width: 290px;
    height: 48px;
  }

  .saveButton {
    margin-right: 6px;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .workContainer {
    width: 100vw;
    height: 87.5%;
    top: 56%;
  }
  .forms {
    width: 82vw;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
  }
  .firstCol {
    height: 250px;
  }
  .firstCol p {
    width: 200px;
  }
  .secondCol {
    height: 360px;
    width: 81.5vw;
    margin-left: 0;
  }
  .saveButton {
    margin-right: 28px;
    margin-top: 70px;
  }
}
