.faqsContainer {
  background-color: #ffffff;
  width: 77.5%;
  height: 100vh;
  position: absolute;
  right: 0;
  align-self: self-end;
  overflow: hidden;
}

/* Content */

.faqsContent {
  height: 90%;
  width: 100%;
}

.faqsContent h1 {
  font-size: 70px;
  font-weight: 500;
  display: flex;
  margin-left: 100px;
  justify-content: start;
  align-items: center;
}

.faqsContentContainer {
  box-sizing: border-box;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  overflow-y: scroll;
}

.faqsContentContainer::-webkit-scrollbar {
  display: none;
}

/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .faqsContainer {
    width: 70.5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .faqsContainer {
    width: 69%;
  }
  .faqsContentContainer {
    height: 82%;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .faqsContainer {
    width: 100vw;
  }
  .faqsContainer h1 {
    margin-left: 70px;
    font-size: 50px;
  }
  .faqsContentContainer {
    height: 85%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .faqsContainer h1 {
    margin-left: 20px;
    font-size: 26px;
  }
  .faqsContentContainer {
    height: 90%;
  }
}
