.helpContainer {
  background-color: #ffffff;
  width: 77.5%;
  height: 100vh;
  position: absolute;
  right: 0;
  align-self: self-end;
  overflow: hidden;
}

.helpContent {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
}

.helpHeader img {
  width: 40px;
  height: 40px;
}

.helpHeader h1 {
  font-weight: 600;
  font-size: 32px;
  cursor: pointer;
}
.helpHeader {
  width: 80%;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 30px;
  gap: 6px;
}

.mainContent {
  display: flex;
  align-self: center;
  width: 90%;
  height: 800px;
  padding: 20px;
  flex-direction: column;
}

.mainContent h2 {
  font-weight: 600;
}

.helpSupport p {
  color: #767474;
  font-weight: 500;
}

.helpSupport {
  width: 70%;
  height: 500px;
  margin-top: 40px;
}

.helpSupportBox {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .helpContainer {
    width: 70.5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .helpContainer {
    width: 69%;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .helpContainer {
    width: 100vw;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .mainContent {
    width: 100%;
    padding: 0;
    padding-top: 20px;
  }
  .helpSupportBox {
    width: 143%;
  }
  .helpSupport p {
    width: 300px;
  }
  .helpHeader {
    margin: 0;
  }
  .helpHeader h1 {
    width: 300px;
    font-size: 18px;
  }
}
