.privacyContainer {
  background-color: #ffffff;
  width: 77.5%;
  height: 100vh;
  position: absolute;
  right: 0;
  align-self: self-end;
  overflow: hidden;
}

.privacyContent {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.privacyContent h1 {
  font-size: 70px;
  font-weight: 500;
  display: flex;
  margin-left: 100px;
  text-align: left;
}

.privacyContentContainer {
  box-sizing: border-box;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  overflow-y: scroll;
  padding: 4px;
  color: #484646;
  font-size: 20;
  gap: 4px;
}

.privacyContentContainer::-webkit-scrollbar {
  display: none;
}

.privacyContentContainer h3 {
  font-size: 20px;
  color: #484646;
}
