.privacyContainer {
  background-color: #ffffff;
  width: 77.5%;
  height: 100vh;
  position: absolute;
  right: 0;
  align-self: self-end;
  overflow: hidden;
}

.privacyContent {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.privacyContent h1 {
  font-size: 70px;
  font-weight: 500;
  display: flex;
  margin-left: 100px;
  text-align: left;
}

.privacyContentContainer {
  box-sizing: border-box;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  overflow-y: scroll;
  margin-right: 20px;
  padding: 4px;
  color: #484646;
  font-size: 20;
  gap: 4px;
}

.privacyContentContainer::-webkit-scrollbar {
  display: none;
}

.privacyContentContainer h3 {
  font-size: 20px;
  color: #484646;
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .privacyContainer {
    width: 69%;
  }
  .privacyContentContainer {
    height: 80%;
  }
  .privacyContent h1 {
    margin-left: 50px;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .privacyContainer {
    width: 100vw;
  }
  .privacyContent h1 {
    margin-left: 50px;
    font-size: 50px;
  }
  .privacyContentContainer {
    height: 85%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .privacyContent {
    justify-content: start;
  }
  .privacyContent h1 {
    margin-left: 20px;
    font-size: 30px;
  }
  .privacyContentContainer {
    width: 92%;
    height: 90%;
    align-items: start;
    margin-left: 16px;
  }
  .privacyContentContainer p {
    font-size: 14px;
  }
}
