.redAmount p {
  color: #f04438;
  font-size: 16px;
  font-weight: 700;
}

.greenAmount p {
  color: #12b76a;
  font-size: 16px;
  font-weight: 700;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .redAmount p {
    font-size: 10px;
  }
  .greenAmount p {
    font-size: 10px;
  }
}
