.profileContainer {
  background-color: #fdd14d;
  height: 88px;
  width: 312px;
  border-radius: 20px;
  display: flex;
  padding: 6px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profilePicture {
  height: 80px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: relative;
}

.profilePicture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.profilePicture img:nth-child(2) {
  object-fit: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.profileInformation {
  width: 75%;
}

.profileInformation h1 {
  font-size: 20px;
  font-weight: 600px;
  text-align: center;
  margin-right: 4px;
}

.otherInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 8px;
}

.profileInformation .otherInfo p {
  font-size: 13px;
  text-align: center;
  color: #767474;
  font-weight: 500;
}

.profileInformation .otherInfo p:nth-child(2) {
  font-size: 13px;
  text-align: center;
  color: #12b76a;
  font-weight: 500;
}

/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1517px) {
  .profileContainer {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* Laptops */
@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .profileContainer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/* Tablet */

@media only screen and (max-width: 768px) {
  .profileContainer {
    margin-top: 30px;
  }
}
