.settingsContainer {
  width: 353px;
  height: 76px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settingsImage img {
  margin-left: 8px;
}

.rightArrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.settingInfo {
  display: flex;
  justify-content: start;
  width: 70%;
  flex-direction: column;
}

.settingInfo p {
  font-size: 16px;
  font-weight: 600;
  color: #1a1818;
}

.settingInfo p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #767474;
}

/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .settingsContainer {
    height: 61px;
  }
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .settingsContainer {
    width: 340px;
    height: 55px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
  }

  .settingsImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settingInfo {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    margin-left: 6px;
  }
  .settingInfo p {
    font-size: 14px;
    font-weight: 600;
    color: #1a1818;
  }

  .settingInfo p:nth-child(2) {
    font-size: 10px;
    font-weight: 400;
    color: #767474;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .settingsContainer {
    width: 300px;
  }
  .settingsImage img {
    margin-right: 4px;
    margin-left: 4px;
  }
}
