.success {
  width: 58px;
  height: 20px;
  color: #12b76a;
  background-color: #ecfdf3;
  border-radius: 16px;
  font-size: 10px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  display: flex;
}

.failed {
  width: 58px;
  height: 20px;
  color: #f04438;
  background-color: #fef3f2;
  border-radius: 16px;
  font-size: 10px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  display: flex;
}
