.technicalContainer {
  background-color: #ffffff;
  width: 90%;
  height: 80vh;
  position: absolute;
  align-self: self-end;
  overflow: hidden;
  z-index: 10;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  padding: 26px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.technicalContainer h1 {
  font-size: 30px;
  font-weight: 600;
  align-self: self-start;
}

.technicalContainer p {
  font-size: 14px;
  font-weight: 500;
  color: #1a1818;
}
.firstCol,
.secCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.firstCol .shorter,
.secCol .shorter {
  width: 219px;
  height: 46px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}

.colWrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.firstCol .email {
  width: 343px;
  height: 46px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}

select {
  width: 343px;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
}

.textarea {
  width: 1009px;
  height: 140px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ffc000;
  border-radius: 8px;
  margin-top: 10px;
  padding-top: 14px;
  resize: none;
}

.feedback {
  align-self: flex-start;
}

.submitButton {
  all: unset;
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #ffc000;
  text-align: center;
  background-color: #ffc000;
  align-self: self-end;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 240px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .technicalContainer {
    width: 92%;
    height: 78%;
    display: flex;
  }
  .form {
    width: 100%;
    padding-right: 80px;
    padding-left: 40px;
    margin-top: 0;
  }
  .colWrapper {
    width: 110%;
  }
  .textareaWrapper {
    width: 100%;
  }
  .textarea {
    width: 98%;
    margin: 0;
  }
  .submitButton {
    margin-right: 10px;
  }
}

/* Laptops */

@media only screen and (max-width: 1366px) {
  .technicalContainer {
    padding: 10px;
    top: 58.5%;
  }

  .form {
    width: 100%;
    padding-right: 80px;
    padding-left: 40px;
    margin-top: 0;
  }
  .colWrapper {
    width: 110%;
  }
  .textareaWrapper {
    width: 100%;
  }
  .textarea {
    width: 98%;
    margin: 0;
  }
  .submitButton {
    margin-right: 10px;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .technicalContainer {
    justify-content: start;
  }
  .form {
    margin-top: 20px;
  }
  .colWrapper {
    flex-direction: column;
    gap: 10px;
    margin-top: 4px;
  }
  .firstCol,
  .secCol {
    gap: 10px;
  }
  .textarea {
    width: 98%;
    margin: 0;
  }
  .feedback {
    margin: 0;
    margin-top: 10px;
  }
  .submitButton {
    margin-top: 20px;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .technicalContainer {
    width: 100vw;
    height: 82.5%;
    align-items: start;
    justify-content: start;
    padding-left: 10px;
  }

  .colWrapper {
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: column;
  }

  .feedback {
    margin: 0;
  }
  .textarea {
    width: 350px;
    margin: 0;
  }
  .submitButton {
    padding-right: 0;
    margin-right: 0;
  }
}
