.profile-nav {
  height: 100%;
  background-color: #f8f8f8;
  position: fixed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition-duration: 500ms;
  z-index: 40;
}

.backButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  visibility: hidden;
}

.backButton img {
  width: 20px;
  height: 20px;
}

.profile-nav.open {
  left: 0;
  width: 422px;
}

.profile-nav.close {
  left: -422px;
}
.showSideBar img {
  width: 56px;
  height: 56px;
  border-radius: 16px;
}

.showSideBar {
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 1%;
  top: 1%;
  z-index: 40;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logoutButton {
  all: unset;
  width: 171px;
  height: 34px;
  background-color: #443e2a;
  border: 1px solid #443e2a;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  margin-bottom: 4%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Laptops large */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .logoutButton {
    margin-bottom: 2%;
  }
}

/* Laptop */

@media only screen and (max-width: 1366px) {
  .logoutButton {
    margin-bottom: 9%;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .logoutButton {
    margin-bottom: 10%;
  }

  .backButton {
    visibility: visible;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .logoutButton {
    margin-bottom: 8%;
  }

  .backButton {
    width: 36px;
    height: 36px;
  }
  .button {
    height: 40px;
    width: 40px;
    font-size: 8px;
  }
  .showSideBar img {
    width: 46px;
    height: 46px;
  }

  .showSideBar {
    height: 50px;
    width: 50px;
  }
}
